@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* TOP */
.box29 {
  margin: 2em 0;
  background: #dcefff;
}
.box29 .box-title {
  font-size: 1.2em;
  background: #5fb3f5;
  padding: 4px;
  text-align: center;
  color: #FFF;
  font-weight: bold;
  letter-spacing: 0.05em;
}
.box29 p {
  padding: 15px 20px;
  margin: 0;
}

/* 一覧　*/
.item_list01 {
  border-radius: 8px;
  border: 1px solid #e0e0e0;
  margin-bottom: 20px;
  position: relative;
}

.item_list01_title {
  padding: 1px 20px;
  border: 1px solid #e0e0e0;
  position: relative;
}