// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/**/
.user {
    border-radius: 8px;
    border: 1px solid #e0e0e0;
    margin-bottom: 20px;
    position: relative;
}

.icon {
    position: relative;
    margin: auto;
}

.icon_img {
    position: relative;
    width: 150px;
    height: 150px;
    margin: auto;
}

.icon_img img{
    position: absolute;
    height: auto;
    width: auto;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.icon_form {
    position: absolute;
    height: auto;
    width: auto;
    margin: auto;

}