<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <nav>
      <li><%= link_to "Home",  root_path %></li>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home",  root_path %></li>
      </ul>
    </nav>
  </div>
</header>